#container-affection {
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    background-image: url('../assets/background-affection.png');
    background-color: #E78585;
    justify-content: space-around;
}

.box-affection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-affection-left {
    text-align: center;
    width: 42%;
    padding-left: 8%;
    font-size: 1.7vw;
    letter-spacing: 3px;
}

#box-affection-rigth {
    display: flex;
    align-items: center;
    height: 100%; 
    width: 58%;  
    text-align: left;    
    justify-content: flex-start;    
}

#content-affection {
    width: 75%;
    font-size: 13pt;
}

@media(max-width: 1200px) {
    #container-affection {
        height: auto;
        flex-wrap: wrap;
    }
    #box-affection-left {
        width: 90%;
        padding-left: 0;
        font-size: 5vw;
        height: 30vw;
    }
    #box-affection-rigth {
        width: 80%;        
    }
    #content-affection {
        width: 100%;
        padding-bottom: 50px;
    }
}