#container-know {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/background-know.png');
    background-color: #70BABE;
    align-items: center;
}

.box-know {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

#know-left {
    justify-content: end;
    padding: 70px;    
}

#content-know {
    width: 76%;
    font-size: 13pt;
}

#content-know h1 {
    font-size: 2.7vw;
    line-height: 60px;
    margin-top: -50px;
}

#box-image-know{
    height: 73%;
    width: 70%;
    background-image: url('../assets/image-know.png');
    background-position: center;
    background-size: cover;
}

@media(max-width: 1200px) {
    #container-know {
        height: auto;
        flex-wrap: wrap;
    }
    #know-left {
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    #content-know {
        width: 80%;
        padding-bottom: 20px;      
    }
    #content-know h1 {        
        margin-top: 0;
        font-size: 8vw;
        text-align: center;
        padding-top: 50px;
    }
    #know-rigth {
        width: 100%;
        justify-content: center;
        padding-bottom: 50px;
    }
    #box-image-know {
        height: 80vw;
        width: 80%;     
    }
    
}