#container-photos {
    display: flex;
    height: 80vh;
    width: 100%;
}

.box-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box-photo-left {
    width: 25%;
    height: 100%;
    background-image: url('../assets/photo-01.jpg');
    background-position: -350px;
    -webkit-box-shadow: inset 0px 0px 294px 200px rgba(255, 255, 255, 0.38);
    -moz-box-shadow: inset 0px 0px 294px 200px rgba(255, 255, 255, 0.38);
    box-shadow: inset 0px 0px 294px 200px rgba(255, 255, 255, 0.38);    
}

#box-photo-center {
    width: 50%;
    height: 100%;
    background-image: url('../assets/photo-02.jpg');
}

#box-photo-rigth {
    width: 25%;
    height: 100%;
    background-image: url('../assets/photo-03.jpg');
    background-position: -80px;
    -webkit-box-shadow: inset 0px 0px 294px 200px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 0px 294px 200px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 294px 200px rgba(255, 255, 255, 0.2);
}

@media(max-width: 800px) {
    #container-photos {
        height: 100vw;
    }
}